<div class="container">
  <div class="row">
    <%= form_for(@testimony) do |f| %>

      <% if @testimony.errors.any? %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p><strong>Wops!</strong></p>
            <ul>
            <% @testimony.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
              <div class="form-group">
                <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
              </div>
        
              <div class="form-group">
                <%= f.label :testimony %>
          <%= f.text_area :testimony, class: 'form-control' %>
              </div>
        
              <div class="form-group">
                <%= f.label :disorder_id %>
          <%= f.collection_select :disorder_id, Disorder.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
              </div>
        
              <div class="form-group">
                <%= f.label :age_group_id %>
          <%= f.collection_select :age_group_id, AgeGroup.all, :id, :name, { prompt: true}, { class: 'form-control' } %>
              </div>
        
              <div class="form-group">
                <%= f.label :gender_id %>
          <%= f.collection_select :gender_id, Gender.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
              </div>
        
              <div class="form-group">
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Salvar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>    
