<!-- links da navbar -->
<ul class="nav navbar-nav">
  <li><%= link_to "Inicio", root_path %></li>
  <li><%= link_to "Depoimentos", "#" %></li>
  <li><%= link_to "Vídeos", "#" %></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Entrar", new_medic_session_path %></li>
  <li><%= link_to "Cadastre-se", new_medic_registration_path %></li>
</ul>